/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
  Так стили написанные ниже будут иметь больший вес,
  чем стили в медиазапросе предпочтений пользователя
  */
  --accent-color: rgba(255 141 203 / 1);
  --title-color: rgba(255 194 230 /1);
  --text-color-on-decor: rgba(53 52 48 / 1);
  --hover-color: rgba(50 49 45 / 0.4);
  --main-text-color: rgba(53 52 48 / 1);
  --button-color: rgba(53 52 48/1);
  --section-title-color: rgba(53 52 48 / 1);
  --decorate-color: rgba(53 52 48 /1);
  --decorate-word-color: transparent;
  background-image: url(/images/cover-image-light.png);
}

/* Остальные стили */

@media (prefers-color-scheme: light) {
  
  .page.theme_auto {
    /* Дублируем переменные светлой темы */
    --accent-color: rgba(255 141 203 / 1);
    --title-color: rgba(255 194 230 /1);
    --text-color-on-decor: rgba(53 52 48 / 1);
    --hover-color: rgba(50 49 45 / 0.4);
    --main-text-color: rgba(53 52 48 / 1);
    --button-color: rgba(53 52 48/1);
    --section-title-color: rgba(53 52 48 / 1);
    --decorate-color: rgba(53 52 48 /1);
    --decorate-word-color: transparent;
    background-image: url(/images/cover-image-light.png);
  }
}

/* Остальные стили */
