/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/cover-image-dark.png);
}

.header {
  padding-block: 10px;
  padding-inline: 10px;
  min-block-size: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  /* background-size: cover; */
}


.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  line-height: var(--title-line-height);
}

.header__aside {
  align-self: center;
  
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-color-on-decor);
  display: block;
  line-height: var(--text-line-height);
  font-size: 18px;
}

.decorated-word {
  color: var(--decorate-word-color);
  position: absolute;
  right: 20px;
  top: 12px;
  line-height: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.decor-pointer::after {
  content: '';
  display: inline-block;
  box-shadow: 0 0 4px 2px;
  background-color: var(--decorate-word-color);
  width: 9px;
  height: 9px;
  border-radius: 50%;
}

.decorated-zone::after {
  content: '';
  border-block-start: 1px solid var(--decorate-color);
  border-inline-end: 1px solid var(--decorate-color);
  width: 25px;
  height: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.decorated-zone::before {
  content: '';
  border-block-end: 1px solid var(--decorate-color);
  border-inline-start: 1px solid var(--decorate-color);
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--button-color);
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--button-color);
}

.header__theme-menu-button {
  min-block-size: 26px;
  min-inline-size: 70px;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: lowercase;
  position: relative;
  padding: 0;
  line-height: 1;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.link:hover::after {
  content: '';
  position: absolute;
  border-block-start: 1px solid currentColor;
  inset-inline: 0;
  bottom: -1px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button::after {
  content: '';
  position: absolute;
  inset-inline: 0;
  bottom: -0.125rem;
  block-size: 1px;
  background-color: var(--accent-color);
  opacity: 0;
  pointer-events: none;
}

.header__theme-menu-button:focus-visible::after {
  opacity: 1;
}

.main-content {
  padding-block: 40px;
  padding-inline: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main-content__section-title {
  color: var(--section-title-color);
  font-size: 18px;
  line-height: var(--text-line-height);
}

.main-content__block-text {
  color: var(--main-text-color);
}

.main-content__section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link {
  text-shadow: 2px 1px 0 var(--accent-color);
  text-decoration: none;
  position: relative;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}

.title-text {
  font-weight: 400;
}

.main-content-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-content-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-gallery__image {
  inline-size: 100%;
  object-fit: cover;
}

.main-gallery-content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.footer {
  block-size: 100vh;
  
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--title-color);
  line-height: var(--title-line-height);
}



@media (width >= 768px) and (width <= 1023px) {

   .header__title, .footer-title {
     font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
   }
   
   .header__aside {
      max-inline-size: 364px;
      justify-self: end;
   }
   
   .main-content {
     padding-block: 60px;
     padding-inline: 20px;
   }

   .header {
    padding: 20px;
    padding-inline-start: 0;
   }

   .main-content__section {
    display: grid;
    grid-template-columns: min-content 1fr;
   }
  
   .main-content__section_type_article {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
   }
  
}

@media (width >= 1024px) {

  .header__title, .footer-title {
     font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
   }
   
   .header__aside {
      max-inline-size: 490px;
      justify-self: end;
      
   }

   .header__theme-menu {
    justify-content: center;
    align-items: start;
   }

   .header__theme-menu-list {
    flex-direction: row;
   }
   
   .main-content {
     padding-block: 60px;
     padding-inline: 20px;
   }

   .main-content-cards_type_article {
    display: flex;
    flex-direction: row;
   }

   .header {
    padding: 20px;
    padding-inline-start: 0;
   }

   .main-content__section {
    display: grid;
    grid-template-columns: min-content 1fr;
   }
  
   .main-content__section_type_article {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
   }
  
}

@media (width >= 768px) {

   .main-gallery-content {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
   }

   .sunset_image {
    grid-column: span 2;
   }

   .ice-cream_image {
    grid-row: span 2;
   }

   .tape_image {
    grid-row: span 2;
   }

   .street_image {
    grid-column: span 2;
   }
}