/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: rgba(255 0 112 / 1);
  --title-color: rgba(219 0 255 / 1);
  --text-color-on-decor: rgba(0 0 40 / 1);
  --hover-color: rgba(255 0 112 / 0.4);
  --main-text-color: rgba(241 178 206 /1);
  --button-color: rgba(255 0 112 / 1);
  --section-title-color: rgb(255 0 112 / 1);
  --decorate-color: rgb(255 0 112 / 1);
  --decorate-word-color: rgb(255 0 112 / 1);
  --title-line-height: 0.83;
  --text-line-height: 1.3;
}

