/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: rgb(255 0 112 / 1);
  --title-color: rgba(219 0 255 / 1);
  --text-color: rgba(0 0 40 / 1);
  --hover-color: rgba(255 0 112 / 0.4);
  --main-text-color: rgba(241 178 206 / 1);
}